<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 56px); background-color:#A9DFDC;"> 
    <div class="row justify-content-center" style="width: 100%; height: 70vh;">
        <div class="col-8" style="background:url('https://i.pinimg.com/originals/b5/36/6e/b5366e76dd1d77389dc35e5dc3a6e238.jpg') ;background-size: cover;border-radius: 30px 30px 30px 30px;">
            <div class="row" style="height: 55vh;">hhh</div>
            <div class="row" style="background-color:white ;opacity:0.8; height:15vh;border-radius: 0px 0px 30px 30px;">hhh</div>
        </div>
    </div>
</div>
